.main{
    background-color: bisque;
    height: 800px;
    margin: 0;
    overflow: auto;
    align-items: center;
}

.sub{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10%;
    margin-left: 35%;
    color: darkcyan;
}

.inpt{
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
}

.icon{
    margin-left: 15px;
    font-size: 25px;
}
.tasks {
    display: flex;
    flex-direction: "row";
}

.data{
    font-size: 20px;
    background-color:azure;
    padding: 15px;
    border: 2px solid black;
    border-radius: 20px;
    width: 260px;
}

.icond{
    margin-left: 15px;
    font-size: 25px;
    margin-top: 35px;
}

.button{
    background-color: burlywood;
    padding: 15px;
    border-radius: 20px;
    font-family:cursive;
    margin-top: 20px;
}
